<template>
  <div>
    <h2>APPOINTMENTS 3</h2>
    <div v-for="appointment in appointments" v-bind:key="appointment.id">
      <h3>{{appointment.name}}</h3>
      <p>{{appointment.status}}</p>
      <p>{{appointment.created_at}}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      appointments: [],
      appointment: {
        name: "",
        status: "",
        created_at: ""
      },
      id: ""
    };
  },

  created() {
    //this.searchTerms = 'doctor';
    //this.searchApp();
    this.$eventHub.$on("searchTerms", words => {
      this.searchTerms = words;
      this.searchApp(words);
    });
  },

  props: {
    msg: {
      type: String
    }
  },

  watch: {
    msg: function() {
      console.log("APPS SEARCH " + this.msg);
      this.searchTerms = this.msg;
      this.searchApp();
    }
  },

  methods: {
    searchApp() {
      var self = this;
      fetch("/api/searchWords/" + this.searchTerms, {
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json"
        }
      })
        .then(res => {
          //console.log(res);
          return res.json();
        })
        .then(data => {
          self.appointments = data;
          console.log(this.appointments);
        });
    }
  }
};
</script>