<template>
  <div>
    <input v-on:keyup.enter="searchApps" type="text" v-model="search" placeholder="search appointments" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerms: "",
      search: ""
    };
  },
  methods: {
    searchApps() {
      console.log("SEARCH TERMS: " + this.search);
      this.$eventHub.$emit("searchTerms", this.search);
      this.search = "";
    }
  },
  created() {},
  computed: {}
};
</script>
